$mobile: 480px;
$mobile-horizontal-margin: 1rem;

$tablet: 768px;

$desktop: 1024px;

$page-horizontal-margin: 9rem;
$primary-color: rgb(0, 0, 209);
$secondary-color: #e0e5e9;

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
